@font-face {
  font-family: "Super Waffles";
  src: url("./font/Super_Waffles.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #292b2a;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.werbung-links {
  left: 25px;
}

.werbung-rechts {
  right: 25px;
}

.werbung {
  position: fixed;
  top: 80px;

  width: 250px;
  height: 600px;

  object-fit: fill;

  z-index: 10;
}

h1 {
  color: #921212;
  font-family: "Super Waffles", sans-serif;
  font-size: 2rem;
  -webkit-text-stroke: 1px #f3eded;

  margin-top: 2.5%;
  margin-left: 35%;
  margin-right: 20%;
}

h2 {
  color: #921212;
  font-family: "Super Waffles", sans-serif;
  font-size: 4rem;
  -webkit-text-stroke: 1px #f3eded;

  margin-top: 2.5%;
  margin-left: 20%;
}

.suchfeld {
  color: #921212;
  font-family: "Super Waffles", sans-serif;
  font-size: 1.5rem;

  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

input[type="search"] {
  width: 100%;
  box-sizing: border-box;

  padding: 10px;
  font-size: 1rem;

  border: 5px solid #921212;
  border-radius: 20px;

  background-color: #5a5959;
}

#cards {
  width: 50%;
  margin: 0 auto;
}

.card {
  background-color: #5a5959;
  border: 5px solid #921212;
  border-radius: 20px;

  overflow: hidden;

  margin-top: 5%;
  margin-bottom: 30px;

  width: 100%;
  box-sizing: border-box;
}

.card-bild {
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bild img {
  max-width: 90%;
  max-height: 90%;

  object-fit: contain;
}

.card-info {
  padding: 25px 30px;
  background-color: #444;
  color: white;
}

.card-info h2 {
  margin: 0 0 15px 0;

  color: #921212;
  font-family: "Super Waffles", sans-serif;

  font-size: 3rem;

  -webkit-text-stroke: 0.5px #f3eded;
}

.card-info p {
  margin: 8px 0;
}

.error {
  color: #921212;
  font-family: "Super Waffles", sans-serif;
  font-size: 1.5rem;

  margin-top: 10%;

  text-align: center;

  -webkit-text-stroke: 0.5px #f3eded;
}

@media (max-width: 1200px) {
  h1 {
    margin-left: 10%;
    margin-right: 10%;

    text-align: center;
  }

  h2 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .suchfeld {
    margin-left: 15%;
    margin-right: 15%;
  }

  #cards {
    width: 70%;
  }
}

@media (max-width: 900px) {
   .werbung {
    display: none;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 1.6rem;

    margin: 30px 20px;

    text-align: center;
  }

  h2 {
    font-size: 2.5rem;

    margin: 20px;
  }

  .suchfeld {
    font-size: 1.2rem;

    margin: 40px 20px;
  }

  input[type="search"] {
    font-size: 0.9rem;

    padding: 8px;

    border-width: 3px;
  }

  #cards {
    width: auto;

    margin-left: 20px;
    margin-right: 20px;
  }

  .card {
    margin-top: 30px;
  }

  .card-bild {
    height: 300px;
  }

  .card-bild img {
    max-width: 100%;
    max-height: 100%;
  }

  .card-info {
    padding: 15px;
  }

  .card-info h2 {
    font-size: 2rem;
  }

  .error {
    font-size: 1.2rem;

    margin: 50px 20px;
  }
}

.suchfeld button{
  width: 100%;
  margin-top: 15px;
  padding: 10px 25px;

  background-color: #921212;
  color: white;

  border: none;
  border-radius: 15px;

  font-family: "Super Waffles", sans-serif;
  font-size: 1rem;

  cursor: pointer;
}

.werbung {
  display: block !important;
  position: fixed !important;
  top: 80px !important;

  width: 250px !important;
  height: 600px !important;

  z-index: 9999 !important;
}

.werbung-links {
  left: 25px !important;
}

.werbung-rechts {
  right: 25px !important;
}
